@{
    ViewBag.Title = "Игра";
}

<div id="game">
</div>

@section Scripts {
    <script src="@Url.Content("~/Content/scripts/app.js")" type="text/javascript"></script>
    <script type="text/javascript">
        require(["Components/GameCpt"], function (main) {
            ReactDOM.render(
                React.createElement(main.default),
                document.getElementById('game')
            );
        });
    </script>
}