@using FaceGame.Code
@{
    ViewBag.Title = "Правила";
}

<div class="jumbotron">
    <h1>Вспомни сокурсников</h1>
    <p>Эти люди провели с тобой почти пять лет в стенах родной кафедры. Скольких из них ты все еще помнишь по имени?</p>
    <p id="game-button"></p>
</div>

<div class="row">
    <div class="col-sm-4">
        <h3>Как играть?</h3>

        <p>На игровом поле отмечены лица бывших студентов.</p>
        <p>При нажатии на любого из них можно ввести имя, фамилию, а у некоторых - даже отчество.</p>
        <p>После ввода жми "Сохранить", чтобы проверить свою догадку.</p>
        <p>На каждое лицо дается <b>только одна попытка</b>! Если поле оставлено пустым - шанс упущен.</p>
    </div>
    <div class="col-sm-4">
        <h3>Как начисляются очки?</h3>
        <ul>
            <li>За имя: <b>@StateManager.FIRST_NAME_SCORE</b> очков</li>
            <li>За фамилию: <b>@StateManager.LAST_NAME_SCORE</b> очков</li>
            <li>За отчество, если оно есть: целых <b>@StateManager.MIDDLE_NAME_SCORE</b> очков!</li>
        </ul>
        <p>После того, как отгадаешь всех, жми кнопку "Завершить", чтобы попасть в таблицу рекордов.</p>
    </div>
    <div class="col-sm-4">
        <h3>Тут ошибка!</h3>
        <p>Если я правильно помни, и моя память не спит с другим... А если всё же нет - пиши в Телеграм: <code>@@impworks</code></p>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/Content/scripts/app.js")" type="text/javascript"></script>
    <script type="text/javascript">
        require(["Components/PlayButtonCpt"], function (main) {
            ReactDOM.render(
                React.createElement(main.default),
                document.getElementById('game-button')
            );
        });
    </script>
}