body {
    padding-top: 70px;
}

.content-wrapper {
    .content-header {
        .score-wrapper {
            float: left;
            font-size: 24px;

            strong {
                color: #ff0000;
            }
        }

        .finish-wrapper {
            float: right;
        }

        &:after {
            clear: both;
            display: block;
            content: "";
        }
    }

    .game-wrapper {
        position: relative;

        img {
            width: 100%;
            max-width: 800px;
        }


        .face {
            position: absolute;
        
            border: 1px #FF0000 solid;
            background: transparent;
            cursor: pointer;

            &.hovered {
                background-color: rgba(255, 0, 0, 0.3);
            }
        }
    }
}

.popover-content {
    .form-group:last-child {
        margin-bottom: 0;
    }
}