body {
    padding-top: 70px;
}

.content-wrapper {
    .content-header {
        .score-wrapper {
            float: left;
            font-size: 24px;

            strong {
                color: #ff0000;
            }
        }

        .finish-wrapper {
            float: right;
        }

        &:after {
            clear: both;
            display: block;
            content: "";
        }
    }

    img {
        width: 100%;
        max-width: 800px;
    }

    .face {
        display: block;
        position: relative;
        
        border: #FF0000 1px solid;
        background: transparent;
        cursor: pointer;

        &.hovered {
            background-color: rgba(255, 0, 0, 0.3);
        }
    }
}